* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif ;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 6rem;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error div {
  background-color: darksalmon;
  padding: 30px;
  border-radius: 10px;
}